body{
    background: #9cbcb7;
    font-family: 'Oswald';
    color: #6B4945;
}


h2 {
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    letter-spacing: 5px;
    word-spacing: 10px;
}

th {
    font-size: 18px;
    background-color: #D0C2B0;
    border:1px solid #6B4945;
    padding: 10px;
    text-transform: uppercase;
}

td {
    text-align: center;
    border: 1px double #6B4945;
    padding: 14px 18px;
    text-align: justify;
    line-height: 1.2;
}

footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: whitesmoke;
    background-color: #E89275;
    opacity: 80%;
    padding: 5px;

}

#banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    background-color: #E89275;
    z-index: 10;
}

.bold {
    font-weight: bold;
}


.table-1 {
    z-index: 1;
    position: relative;
    top: 0px;
    height: 400px;
    max-width: 1000px;
    border: 3px solid #6B4945;
    background-color: #DBCDA4;
    border-collapse: separate;
    box-shadow: 10px 10px 1px #6b060040;
    margin: 18px auto 100px;
}

.table-2 {
    z-index: 1;
    position: relative;
    top: 0px;
    height: auto;
    border: 3px solid #6B4945;
    background-color: #DBCDA4;
    border-collapse: separate;
    box-shadow: 10px 10px 1px #6b060040;
    margin: 18px auto 100px;
}

#header-cell {
    font-weight: bold;
    text-align: center;
}
#code {
    font-family: monospace;
    font-weight: 900;
}